In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 04:03:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
import datetime
from pyspark.sql import Row
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "gender": "male",
        "current_city": "Houston",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "gender": "female",
        "current_city": "",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "gender": "male",
        "current_city": "San Fransisco",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "gender": "female",
        "current_city": None,
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

In [8]:
df=spark.createDataFrame(users)

In [12]:
df\
.select("id","current_city")\
.where('current_city IS NOT NULL')\
.show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [13]:
df.show()

+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses| current_city|customer_from|               email|first_name|gender| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|       Dallas|   2021-01-15|cvandenoord0@etsy...|    Corrie|  male|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|      Houston|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  male|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|             |   2021-01-21|openney2@vistapri...|    Orelie|female|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|San Fransisco|         null|  amaddocks3@home.pl|     Ashby|  male|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|         null|krome4@shutterfly...|      Kurt|female|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+

In [9]:
from pyspark.sql.functions import *

In [10]:
df.select("id","current_city").filter(col("current_city").isNotNull()).show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [11]:
df.select("id","customer_from").where("customer_from IS NULL").show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
+---+-------------+

In [14]:
df.select("id","customer_from").show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  2|   2021-02-14|
|  3|   2021-01-21|
|  4|         null|
|  5|         null|
+---+-------------+

In [15]:
df.select("id", "current_city", "customer_from").orderBy("current_city").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  5|         null|         null|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  4|San Fransisco|         null|
+---+-------------+-------------+

In [ ]:
df.select("id", "current_city", "customer_from").orderBy("current_city").show()

In [16]:
df.select("id", "current_city", "customer_from").orderBy("current_city", ascending = False).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  4|San Fransisco|         null|
|  2|      Houston|   2021-02-14|
|  1|       Dallas|   2021-01-15|
|  3|             |   2021-01-21|
|  5|         null|         null|
+---+-------------+-------------+

In [20]:
df.select("id", "current_city", "customer_from").orderBy(col("customer_from").desc()).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [21]:
df.select("id","current_city","customer_from").orderBy(desc_nulls_last("customer_from")).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [25]:
zipdf = spark.read.option("header", True).option("inferSchema", True).csv("/home/labuser/Desktop/Python/zipcode.csv")

In [26]:
zipdf.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
|  1|    704|STANDARD|               null|   PR|     30100|
|  1|    704|STANDARD|               null|   PR|     30100|
+---+-------+--------+-------------------+-----+----------+

In [27]:
zipdf.dtypes

[('id', 'int'),
 ('zipcode', 'int'),
 ('type', 'string'),
 ('city', 'string'),
 ('state', 'string'),
 ('population', 'int')]

In [33]:
zipdf1 = zipdf.drop_duplicates().orderBy('id')

In [35]:
zipdf1.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
+---+-------+--------+-------------------+-----+----------+

In [36]:
zipdf1.dropna().show()

+---+-------+------+-----------------+-----+----------+
| id|zipcode|  type|             city|state|population|
+---+-------+------+-----------------+-----+----------+
|  4|  76166|UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+------+-----------------+-----+----------+

In [37]:
zipdf1.na.drop().show()

+---+-------+------+-----------------+-----+----------+
| id|zipcode|  type|             city|state|population|
+---+-------+------+-----------------+-----+----------+
|  4|  76166|UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+------+-----------------+-----+----------+

In [38]:
zipdf1.na.drop(subset = "population").show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [39]:
zipdf1.dropna("all",subset="type").show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|             null|   TX|      null|
+---+-------+--------+-----------------+-----+----------+

In [40]:
zipdf1.fillna(30000).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|     30000|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|     30000|
+---+-------+--------+-------------------+-----+----------+

In [41]:
zipdf1.na.fill(30000).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|     30000|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|     30000|
+---+-------+--------+-------------------+-----+----------+

In [42]:
zipdf1.na.fill("Mumbai").show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|             Mumbai|   PR|     30100|
|  2|    704|  Mumbai|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|  Mumbai|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|             Mumbai|   TX|      null|
+---+-------+--------+-------------------+-----+----------+

In [51]:
zipdf1.na.fill({'population': 30000, 'city': 'Mumbai', 'type':'VIP'}).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|             Mumbai|   PR|     30100|
|  2|    704|     VIP|PASEO COSTA DEL SUR|   PR|     30000|
|  3|    709|     VIP|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|             Mumbai|   TX|     30000|
+---+-------+--------+-------------------+-----+----------+

In [47]:
zipdf1.na.drop(thresh = 5).show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [55]:
zipdf2 = zipdf1.na.fill({'population': 30000, 'city': 'Mumbai', 'type':'VIP'})

In [56]:
zipdf2.replace("Mumbai", "Delhi").show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|              Delhi|   PR|     30100|
|  2|    704|     VIP|PASEO COSTA DEL SUR|   PR|     30000|
|  3|    709|     VIP|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|              Delhi|   TX|     30000|
+---+-------+--------+-------------------+-----+----------+

In [58]:
df.select("id", "current_city", "customer_from").replace("", "LA").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|           LA|   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [59]:
df.select("id", "current_city", "customer_from").replace("Dallas", "LA", subset = "current_city").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|           LA|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [63]:
df.select("id", "current_city", "customer_from").replace("Dallas", "LA", subset = "current_city").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|           LA|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [64]:
baby_names = spark.read.option("header", True).option("inferSchema", True).csv("/home/labuser/Desktop/Python/Baby_Names.csv")

In [66]:
baby_names.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [67]:
baby_names.groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|2007| 6367|
|2013| 6158|
|2014| 8362|
|2012| 6164|
|2009| 6312|
|2010| 6192|
|2011| 6216|
|2008| 6481|
+----+-----+

In [69]:
baby_names.groupBy("Year").count().sort(col("Year").desc()).show()

+----+-----+
|Year|count|
+----+-----+
|2014| 8362|
|2013| 6158|
|2012| 6164|
|2011| 6216|
|2010| 6192|
|2009| 6312|
|2008| 6481|
|2007| 6367|
+----+-----+

In [70]:
baby_names.write.mode("overwrite").parquet("/Processed Data/Baby Names/baby.parquet")

In [71]:
baby_names.count()

52252

In [74]:
baby_names.write\
.mode("overwrite")\
.option("path", "home/labuser/Desktop/Python/Processed Data/Baby Names/babytableparquet").saveAsTable("babyNames")

23/09/25 06:01:45 WARN HadoopFSUtils: The directory file:/home/labuser/Desktop/Python/spark-warehouse/home/labuser/Desktop/Python/Processed Data/Baby Names/babytableparquet was not found. Was it deleted very recently?

In [78]:
baby_names.write\
.mode("overwrite")\
.partitionBy("Year")\
.option("path", "/home/labuser/Desktop/Python/Processed Data/Baby Names/babyPartitionByYear")\
.saveAsTable("babyNamesYear")

23/09/25 06:05:05 WARN HadoopFSUtils: The directory file:/home/labuser/Desktop/Python/spark-warehouse/home/labuser/Desktop/Python/Processed Data/Baby Names/babyPartitionByYear was not found. Was it deleted very recently?

In [86]:
spark.sql("select * from babynames where Year = 2008").show()

+----+----------+------+---+-----+
|Year|First Name|County|Sex|Count|
+----+----------+------+---+-----+
+----+----------+------+---+-----+

In [88]:
baby_names.write\
.mode("overwrite")\
.partitionBy("Year","Sex")\
.option("path","/home/labuser/Desktop/Python/Processed Data/Baby_Names_Gender/")\
.saveAsTable("babynames_year_gender")

In [89]:
baby_names.write\
.mode("overwrite")\
.option("maxRecordsPerFile", 5000)\
.partitionBy("Year","Sex")\
.option("path","/home/labuser/Desktop/Python/Processed Data/Baby_Names_GenderMax5k/")\
.saveAsTable("babynames_year_gender_max5K")